body{
  background-color: #ffb700;
}

.dark-mode{
  background-color: #121212;
}
.dark-mode i{
  color: rgb(255, 162, 0);
  text-decoration: none;
}

.dark-mode i:hover{
  color: #ff7300;
}

.dark-mode h1{
  color:#ff7300;
}

.dark-mode h5{
  color:#ff7300;
}

.dark-mode .card:hover {
  box-shadow: 0 0 20px rgb(255, 106, 0);
}

i{
  color:#ffffff ;
}

i:hover{
  color: #ff8400;
}

