body {
  margin: 0;
  font-family:'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Nunito;
  src: url(./assets/fonts/Nunito-Regular.ttf),
  url(./assets/fonts/Nunito-Bold.ttf);
  }

@media (max-width: 768px){
  .mobile{
    padding-top: 150%;
  }
}

.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}